/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
    GENERAL
*/
#container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
}
.items{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    border: 5px solid red;
}

#up-button{
    position: absolute;
    top: 200px;
}
#down-button{
    position: absolute;
    bottom: 200px;
}

button {
    border-radius: 50px;
    border: none;
    padding: 5px;
    background-color: white;
}
